@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,400i,500,600,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Oswald:400,500,600&display=swap");
@font-face {
  font-family: "Signerica";
  font-style: "normal";
  font-weight: "400";
  src: url("../fonts/Signerica_Medium.ttf") format("truetype");
}

/**** start header style ***/
/* line 3, Z:/work/spa/sass/_header.scss */
header {
  padding-top: 15px;
  padding-bottom: 10px;
}

/* line 7, Z:/work/spa/sass/_header.scss */
header .logo img {
  max-height: 80px;
}

/* line 11, Z:/work/spa/sass/_header.scss */
header .col-4 {
  border-left: 1px solid #ebebeb;
}

/* line 14, Z:/work/spa/sass/_header.scss */
header .company-info {
  display: flex;
  align-items: center;
  height: 100%;
}

/* line 18, Z:/work/spa/sass/_header.scss */
header .company-info .icon {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
}

/* line 26, Z:/work/spa/sass/_header.scss */
header .company-info .info {
  padding-left: 15px;
}

/* line 28, Z:/work/spa/sass/_header.scss */
header .company-info .info span {
  display: block;
}

/*font-family: 'Raleway', sans-serif;*/
/* line 6, Z:/work/spa/sass/_common.scss */
body {
  font-family: 'Raleway', sans-serif;
  color: #898989;
  font-size: 13px;
  font-weight: 500;
}

/* line 13, Z:/work/spa/sass/_common.scss */
img {
  max-width: 100%;
}

/* line 17, Z:/work/spa/sass/_common.scss */
.gray {
  background: #8e8e8e;
}

/* line 21, Z:/work/spa/sass/_common.scss */
.gray-bg {
  background: #edeef0;
  height: 100%;
}

/* line 26, Z:/work/spa/sass/_common.scss */
.light-bg {
  background: #e9e9e9;
}

/* line 30, Z:/work/spa/sass/_common.scss */
.gray2 {
  background: #e3e4e5;
}

/* line 34, Z:/work/spa/sass/_common.scss */
.gray3 {
  background: #dbdce0;
}

/* line 38, Z:/work/spa/sass/_common.scss */
.title {
  font-size: 36px;
  line-height: 30px;
  color: #6c217e;
  font-weight: 700;
  text-transform: uppercase;
}

/* line 44, Z:/work/spa/sass/_common.scss */
.title .sign {
  font-size: 18px;
  line-height: 30px;
  color: #b3a16e;
  font-family: "Signerica";
  font-weight: 500;
  display: block;
  margin-top: 5px;
  text-transform: initial;
}

/* line 56, Z:/work/spa/sass/_common.scss */
h3 {
  font-size: 24px;
  letter-spacing: 1px;
  line-height: 32px;
  font-weight: 500;
}

/* line 63, Z:/work/spa/sass/_common.scss */
.line {
  width: 567px;
  height: 1px;
  background-color: #e1e1e1;
  margin: 60px auto;
}

/* line 70, Z:/work/spa/sass/_common.scss */
.subtitle {
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 24px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 20px;
}

/* line 79, Z:/work/spa/sass/_common.scss */
.px-0 {
  padding-right: 0;
  padding-left: 0;
}

/* line 84, Z:/work/spa/sass/_common.scss */
.num {
  font-family: 'Oswald', sans-serif;
  font-size: 160px;
  line-height: 36px;
  font-weight: 400;
}

/* line 91, Z:/work/spa/sass/_common.scss */
.slick-slide {
  border: 0 !important;
  box-shadow: none !important;
  outline: 0 !important;
}

/**** start slider section ****/
/* line 4, Z:/work/spa/sass/_home.scss */
.home-slider .gray {
  min-height: 600px;
}

/*** intro section style ***/
/* line 12, Z:/work/spa/sass/_home.scss */
.intro {
  padding-top: 100px;
}

/* line 14, Z:/work/spa/sass/_home.scss */
.intro h3 {
  color: #b3a16e;
  margin-bottom: 25px;
}

/* line 18, Z:/work/spa/sass/_home.scss */
.intro .gray-bg {
  height: 450px;
}

/* line 21, Z:/work/spa/sass/_home.scss */
.intro .bg-img {
  margin-top: -25px;
}

/*** features  style ****/
/* line 30, Z:/work/spa/sass/_home.scss */
.features .gray-bg.horz {
  height: 500px;
  z-index: 1;
  position: relative;
}

/* line 35, Z:/work/spa/sass/_home.scss */
.features .feature-info {
  max-width: 460px;
  padding-left: 50px;
}

/* line 38, Z:/work/spa/sass/_home.scss */
.features .feature-info .num {
  color: rgba(179, 161, 110, 0.149);
}

/* line 41, Z:/work/spa/sass/_home.scss */
.features .feature-info h3 {
  font-size: 16px;
  color: #6c217e;
  font-style: italic;
  line-height: 2.998;
  margin-top: -65px;
  margin-bottom: 75px;
  margin-left: 10px;
  margin-right: 10px;
}

/* line 51, Z:/work/spa/sass/_home.scss */
.features .feature-info p {
  line-height: 1.846;
}

/* line 56, Z:/work/spa/sass/_home.scss */
.features .row:nth-child(even) .feature-info {
  margin-left: auto;
  margin-right: 50px;
  text-align: right;
}

/* line 62, Z:/work/spa/sass/_home.scss */
.features .vertical-block {
  margin-top: -45px;
}

/* line 64, Z:/work/spa/sass/_home.scss */
.features .vertical-block .gray-bg,
.features .vertical-block .gray {
  height: 450px;
}

/* line 68, Z:/work/spa/sass/_home.scss */
.features .vertical-block .gray {
  background: #dbdce0;
}

/* line 71, Z:/work/spa/sass/_home.scss */
.features .vertical-block .num {
  font-size: 100px;
  line-height: 0.36;
  color: #b3a16e;
  display: block;
  margin-top: -35px;
  position: relative;
  padding-bottom: 60px;
  margin-bottom: 20px;
}

/* line 80, Z:/work/spa/sass/_home.scss */
.features .vertical-block .num:after {
  content: "";
  display: block;
  width: 46px;
  height: 4px;
  background-color: #898989;
  position: absolute;
  bottom: 15px;
  margin: 0 auto;
  left: calc(50% - 23px);
}

/* line 92, Z:/work/spa/sass/_home.scss */
.features .vertical-block h3 {
  font-size: 16px;
  color: #6c217e;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.5;
}

/* line 99, Z:/work/spa/sass/_home.scss */
.features .vertical-block p {
  padding: 0 20px;
  line-height: 1.853;
}

/*** menu section style ****/
/* line 110, Z:/work/spa/sass/_home.scss */
.menu .menu-block {
  padding-right: 15px;
  max-width: 230px;
  margin-right: auto;
  margin-left: auto;
}

/* line 115, Z:/work/spa/sass/_home.scss */
.menu .menu-block .gray-bg {
  height: 268px;
  margin-bottom: 15px;
}

/* line 119, Z:/work/spa/sass/_home.scss */
.menu .menu-block h3 {
  font-size: 16px;
  color: #6c217e;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 3.278;
}

/* line 125, Z:/work/spa/sass/_home.scss */
.menu .menu-block h3 .gold {
  color: #b3a16e;
  font-size: 11px;
}

/* line 131, Z:/work/spa/sass/_home.scss */
.menu .menu-slider {
  margin-top: 60px;
}

/* line 134, Z:/work/spa/sass/_home.scss */
.menu .slick-arrow {
  background: #6c217e;
  width: 58px;
  height: 51px;
  padding: 0 6px;
}

/* line 140, Z:/work/spa/sass/_home.scss */
.menu .slick-next:before {
  content: "";
  background: url("../images/right-arrow.png") no-repeat center;
  background-size: 100% auto;
  width: 100%;
  height: 100%;
  display: block;
}

/* line 148, Z:/work/spa/sass/_home.scss */
.menu .slick-prev:before {
  content: "";
  background: url("../images/left-arrow.png") no-repeat center;
  background-size: 100% auto;
  width: 100%;
  height: 100%;
  display: block;
}

/*** gallarysection style **/
/* line 161, Z:/work/spa/sass/_home.scss */
.gallary {
  padding-top: 100px;
}

/* line 163, Z:/work/spa/sass/_home.scss */
.gallary .gallary-img {
  width: 100%;
}

/* line 166, Z:/work/spa/sass/_home.scss */
.gallary .row {
  margin: 0;
}

/* line 168, Z:/work/spa/sass/_home.scss */
.gallary .row.mx-custom {
  margin-right: -15px;
  margin-left: -15px;
}

/* line 173, Z:/work/spa/sass/_home.scss */
.gallary .h-5 {
  height: 300px;
}

/* line 176, Z:/work/spa/sass/_home.scss */
.gallary .h-10 {
  height: 600px;
}

/*** specials section style ****/
/* line 184, Z:/work/spa/sass/_home.scss */
.specials {
  padding-top: 80px;
}

/* line 186, Z:/work/spa/sass/_home.scss */
.specials .special-img {
  height: 300px;
  margin-bottom: 20px;
}

/* line 190, Z:/work/spa/sass/_home.scss */
.specials h3 {
  font-size: 18px;
  line-height: 18px;
  color: #6c217e;
  font-weight: 500;
}

/* line 196, Z:/work/spa/sass/_home.scss */
.specials p {
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
}

/*# sourceMappingURL=../css/style.map */