@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,400i,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald:400,500,600&display=swap');

/*font-family: 'Raleway', sans-serif;*/

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Raleway', sans-serif;
    color: $text-color;
    font-size: 13px;
    font-weight: 500;
    position: relative;
}

img {
    max-width: 100%
}

.gray {
    background: $gray
}

.gray-bg {
    background: $light-gray;
    height: 100%;
}

.light-bg {
    background: #e9e9e9;
}

.gray2 {
    background: #e3e4e5;
}

.gray3 {
    background: #dbdce0;
}

.title {
    font-size: 36px;
    line-height: 30px;
    color: $purple;
    font-weight: 700;
    text-transform: uppercase;
    .sign {
        font-size: 18px;
        line-height: 30px;
        color: $gold;
        font-family: "Signerica";
        font-weight: 500;
        display: block;
        margin-top: 5px;
        text-transform: initial
    }
}

h3 {
    font-size: 24px;
    letter-spacing: 1px;
    line-height: 32px;
    font-weight: 500;
}

.line {
    width: 567px;
    height: 1px;
    background-color: #e1e1e1;
    margin: 60px auto;
}

.subtitle {
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 24px;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 20px;
}

.px-0 {
    padding-right: 0;
    padding-left: 0;
}

.num {
    font-family: 'Oswald', sans-serif;
    font-size: 160px;
    line-height: 36px;
    font-weight: 400;
}

.slick-slide {
    border: 0 !important;
    box-shadow: none !important;
    outline: 0 !important;
}

.btn-purple {
    width: 143px;
    background-color: $purple;
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
    font-weight: 700;
    border-radius: 0;
}