/**** start slider section ****/

.home-slider {
    .gray {
        min-height: 600px;
    }
}


/*** intro section style ***/

.intro {
    padding-top: 100px;
    h3 {
        color: $gold;
        margin-bottom: 25px;
    }
    .gray-bg {
        height: 450px;
    }
    .bg-img {
        margin-top: -25px;
    }
}


/*** features  style ****/

.features {
    .gray-bg.horz {
        height: 500px;
        z-index: 1;
        position: relative;
    }
    .feature-info {
        max-width: 460px;
        padding-left: 50px;
        .num {
            color: rgba(179, 161, 110, 0.149);
        }
        h3 {
            font-size: 16px;
            color: $purple;
            font-style: italic;
            line-height: 2.998;
            margin-top: -65px;
            margin-bottom: 75px;
            margin-left: 10px;
            margin-right: 10px;
        }
        p {
            line-height: 1.846;
        }
    }
    .row:nth-child(even) {
        .feature-info {
            margin-left: auto;
            margin-right: 50px;
            text-align: right;
        }
    }
    .vertical-block {
        margin-top: -45px;
        .gray-bg,
        .gray {
            height: 450px;
        }
        .gray {
            background: rgb(219, 220, 224);
        }
        .num {
            font-size: 100px;
            line-height: 0.36;
            color: #b3a16e;
            display: block;
            margin-top: -35px;
            position: relative;
            padding-bottom: 60px;
            margin-bottom: 20px;
            &:after {
                content: "";
                display: block;
                width: 46px;
                height: 4px;
                background-color: rgb(137, 137, 137);
                position: absolute;
                bottom: 15px;
                margin: 0 auto;
                left: calc(50% - 23px);
            }
        }
        h3 {
            font-size: 16px;
            color: $purple;
            font-weight: bold;
            text-transform: uppercase;
            line-height: 1.5;
        }
        p {
            padding: 0 20px;
            line-height: 1.853;
        }
    }
}


/*** menu section style ****/

.menu {
    .menu-block {
        padding-right: 15px;
        max-width: 230px;
        margin-right: auto;
        margin-left: auto;
        .gray-bg {
            height: 268px;
            margin-bottom: 15px;
        }
        h3 {
            font-size: 16px;
            color: rgb(108, 33, 126);
            font-weight: bold;
            text-transform: uppercase;
            line-height: 3.278;
            .gold {
                color: $gold;
                font-size: 11px;
            }
        }
    }
    .menu-slider {
        margin-top: 60px;
    }
    .slick-arrow {
        background: $purple;
        width: 58px;
        height: 51px;
    }
    .slick-next:before {
        content: "";
        background: url("../images/arrow-right.png") no-repeat;
    }
}